#block {
  width: 1000px;
  height: 200px;
  background-color: lightgray;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.hover_img {
  width: 250px;
  height: 150px;
  margin-right: 10px;
}

.hover_img:hover {
  box-shadow: 5px 5px 20px black;
}
